<div class="container mt-4">
  <h1 class="fw-bold mb-4">Nova tarefa em: <%= lista.nome %></h1>

  <form
    action="/listas/<%= lista.id %>/tarefas"
    method="POST"
    class="card p-4 shadow-sm"
  >
    <div class="mb-3">
      <label for="nome" class="form-label">Nome da tarefa</label>
      <input type="text" id="nome" name="nome" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Criar tarefa</button>
  </form>

  <a href="/listas/<%= lista.id %>" class="btn btn-link mt-3">Voltar</a>
</div>
